other/schema/x-2016/S_Dynamische_Beschilderung.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:okstra="http://schema.okstra.de/2016/okstra" xmlns:okstra-basis="http://schema.okstra.de/2016/okstra-basis" xmlns:okstra-typen="http://schema.okstra.de/2016/okstra-typen" elementFormDefault="qualified" targetNamespace="http://schema.okstra.de/2016/okstra" version="2.016.0">
  <import namespace="http://schema.okstra.de/2016/okstra-basis" schemaLocation="okstra-basis.xsd"/>
  <import namespace="http://schema.okstra.de/2016/okstra-typen" schemaLocation="okstra-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Angaben_zum_Knotenpunkt" substitutionGroup="gml:AbstractFeature" type="okstra:Angaben_zum_KnotenpunktType"/>
  <complexType name="Angaben_zum_KnotenpunktType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Netzknotenangabe_1" type="integer"/>
          <element name="Netzknotenangabe_2" type="integer"/>
          <element name="Netzknotenangabe_3" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_KB_Wirkungsbereich" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Angaben_zum_KnotenpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Angaben_zum_Knotenpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Anlagenausstattung" substitutionGroup="gml:AbstractFeature" type="okstra:AnlagenausstattungType"/>
  <complexType name="AnlagenausstattungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Steuerung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Datenuebertragungssystem" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Ueberwachung_der_Anlage" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Art_der_Stromversorgung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Unterzentrale" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Verkehrsrechnerzentrale" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Datenerfassungseinrichtgen" type="okstra-basis:ObjectRefType"/>
          <element name="hat_Anzeigesystem" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_dynam_verkehrsreg_Beschild" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnlagenausstattungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Anlagenausstattung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Anordnung_des_Messsystems" substitutionGroup="gml:AbstractFeature" type="okstra:Anordnung_des_MesssystemsType"/>
  <complexType name="Anordnung_des_MesssystemsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element maxOccurs="unbounded" name="hat_Art_der_Anordnung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Datenerfassungseinrichtgen" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Anordnung_des_MesssystemsPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Anordnung_des_Messsystems"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Anzahl_der_Anzeigequerschnitte" substitutionGroup="gml:AbstractFeature" type="okstra:Anzahl_der_AnzeigequerschnitteType"/>
  <complexType name="Anzahl_der_AnzeigequerschnitteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Anzahl" type="okstra-typen:Anzahl_zweistellig"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anzeigesystem" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Anzahl_der_AnzeigequerschnittePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Anzahl_der_Anzeigequerschnitte"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Anzahl_der_Messquerschnitte" substitutionGroup="gml:AbstractFeature" type="okstra:Anzahl_der_MessquerschnitteType"/>
  <complexType name="Anzahl_der_MessquerschnitteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Anzahl_d_Messquerschnitte_VDE" type="okstra-typen:Anzahl"/>
          <element name="Anzahl_d_Messquerschnitte_UDE" type="okstra-typen:Anzahl"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Datenerfassungseinrichtgen" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Anzahl_der_MessquerschnittePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Anzahl_der_Messquerschnitte"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Anzeigesystem" substitutionGroup="gml:AbstractFeature" type="okstra:AnzeigesystemType"/>
  <complexType name="AnzeigesystemType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Aufstellvorrichtung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Gueltigkeitsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Wechselverkehrszeichen" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anzahl_der_Anzeigequerschn" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AnzeigesystemPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Anzeigesystem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Art_der_Anordnung" substitutionGroup="gml:AbstractFeature" type="okstra:Art_der_AnordnungType"/>
  <complexType name="Art_der_AnordnungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Art" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anordnung_des_Messsystems" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Art_der_AnordnungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Art_der_Anordnung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Art_der_Aufstellung" substitutionGroup="gml:AbstractFeature" type="okstra:Art_der_AufstellungType"/>
  <complexType name="Art_der_AufstellungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Art" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Aufstellvorrichtung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Art_der_AufstellungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Art_der_Aufstellung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Art_der_Stromversorgung" substitutionGroup="gml:AbstractFeature" type="okstra:Art_der_StromversorgungType"/>
  <complexType name="Art_der_StromversorgungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Art" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Art_der_StromversorgungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Art_der_Stromversorgung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Art_der_erfassten_Daten" substitutionGroup="gml:AbstractFeature" type="okstra:Art_der_erfassten_DatenType"/>
  <complexType name="Art_der_erfassten_DatenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Verkehrsdaten" type="string"/>
          <element name="Umfelddaten" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Datenerfassungseinrichtgen" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Art_der_erfassten_DatenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Art_der_erfassten_Daten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Aufstellvorrichtung" substitutionGroup="gml:AbstractFeature" type="okstra:AufstellvorrichtungType"/>
  <complexType name="AufstellvorrichtungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element name="Vorrichtung" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anzeigesystem" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Art_der_Aufstellung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AufstellvorrichtungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Aufstellvorrichtung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Betriebsform" substitutionGroup="gml:AbstractFeature" type="okstra:BetriebsformType"/>
  <complexType name="BetriebsformType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Betriebsform" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Richtungswechselbetrieb" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BetriebsformPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Betriebsform"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Datenerfassungseinrichtungen" substitutionGroup="gml:AbstractFeature" type="okstra:DatenerfassungseinrichtungenType"/>
  <complexType name="DatenerfassungseinrichtungenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Gueltigkeitsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Detektionsmethode" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Art_der_erfassten_Daten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anzahl_d_Messquerschnitte" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anordnung_des_Messsystems" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DatenerfassungseinrichtungenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Datenerfassungseinrichtungen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Datenuebertragungssystem" substitutionGroup="gml:AbstractFeature" type="okstra:DatenuebertragungssystemType"/>
  <complexType name="DatenuebertragungssystemType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Datenuebertragung_SST_UZ" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Datenuebertragung_UZ_VRZ" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DatenuebertragungssystemPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Datenuebertragungssystem"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Detektionsmethode" substitutionGroup="gml:AbstractFeature" type="okstra:DetektionsmethodeType"/>
  <complexType name="DetektionsmethodeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="Methode_VDE" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" name="Methode_UDE" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Datenerfassungseinrichtgen" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DetektionsmethodePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Detektionsmethode"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Einsatzdauer" substitutionGroup="gml:AbstractFeature" type="okstra:EinsatzdauerType"/>
  <complexType name="EinsatzdauerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element name="Dauer_Art" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Dauer_Laenge" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_dynam_verkehrsreg_Beschild" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EinsatzdauerPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Einsatzdauer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Gueltigkeitsbereich" substitutionGroup="gml:AbstractFeature" type="okstra:GueltigkeitsbereichType"/>
  <complexType name="GueltigkeitsbereichType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element name="Aufstelldatum" type="date"/>
          <element name="Hersteller" type="string"/>
          <element minOccurs="0" name="Abbaudatum" type="date"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anzeigesystem" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Datenerfassungseinrichtgen" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GueltigkeitsbereichPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Gueltigkeitsbereich"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="KB_Anlagentyp" substitutionGroup="gml:AbstractFeature" type="okstra:KB_AnlagentypType"/>
  <complexType name="KB_AnlagentypType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Typ" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Knotenpunktbeeinflussung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KB_AnlagentypPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:KB_Anlagentyp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="KB_Anzeigezustaende" substitutionGroup="gml:AbstractFeature" type="okstra:KB_AnzeigezustaendeType"/>
  <complexType name="KB_AnzeigezustaendeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Anzeigezustand" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Knotenpunktbeeinflussung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KB_AnzeigezustaendePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:KB_Anzeigezustaende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="KB_Wirkungsbereich" substitutionGroup="gml:AbstractFeature" type="okstra:KB_WirkungsbereichType"/>
  <complexType name="KB_WirkungsbereichType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element name="Bereich" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="ist_astbezogener_WB" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="ist_richtungsbezogener_WB" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Angaben_zum_Knotenpunkt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Knotenpunktbeeinflussung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KB_WirkungsbereichPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:KB_Wirkungsbereich"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Knotenpunktbeeinflussung" substitutionGroup="gml:AbstractFeature" type="okstra:KnotenpunktbeeinflussungType"/>
  <complexType name="KnotenpunktbeeinflussungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element maxOccurs="unbounded" name="zu_Baudienststelle" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="in_Verwaltungsbezirk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Wegweisung_Info" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Kombination_v_Anlagentypen" type="okstra-basis:ObjectRefType"/>
          <element name="hat_Einsatzdauer" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element name="hat_Wirkungsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anzeigezustaende" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anlagentyp" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KnotenpunktbeeinflussungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Knotenpunktbeeinflussung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kombination_von_Anlagentypen" substitutionGroup="gml:AbstractFeature" type="okstra:Kombination_von_AnlagentypenType"/>
  <complexType name="Kombination_von_AnlagentypenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="4" minOccurs="2" name="gehoert_zu_dyn_verkehrsr_Besch" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Kombination_von_AnlagentypenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Kombination_von_Anlagentypen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RW_Anzeigezustaende" substitutionGroup="gml:AbstractFeature" type="okstra:RW_AnzeigezustaendeType"/>
  <complexType name="RW_AnzeigezustaendeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Anzeigezustand" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Richtungswechselbetrieb" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RW_AnzeigezustaendePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:RW_Anzeigezustaende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RW_Wirkungsbereich" substitutionGroup="gml:AbstractFeature" type="okstra:RW_WirkungsbereichType"/>
  <complexType name="RW_WirkungsbereichType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Bereich" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Richtungswechselbetrieb" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="beginnt_bei_Strassenpunkt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="endet_bei_Strassenpunkt" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RW_WirkungsbereichPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:RW_Wirkungsbereich"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Richtungswechselbetrieb" substitutionGroup="gml:AbstractFeature" type="okstra:RichtungswechselbetriebType"/>
  <complexType name="RichtungswechselbetriebType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element maxOccurs="unbounded" name="zu_Baudienststelle" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="in_Verwaltungsbezirk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Wegweisung_Info" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Kombination_v_Anlagentypen" type="okstra-basis:ObjectRefType"/>
          <element name="hat_Einsatzdauer" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_RW_Wirkungsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anzeigezustaende" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Betriebsform" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RichtungswechselbetriebPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Richtungswechselbetrieb"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SB_Anlagentyp" substitutionGroup="gml:AbstractFeature" type="okstra:SB_AnlagentypType"/>
  <complexType name="SB_AnlagentypType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Typ" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Streckenbeeinflussung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SB_AnlagentypPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:SB_Anlagentyp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SB_Anzeigezustaende" substitutionGroup="gml:AbstractFeature" type="okstra:SB_AnzeigezustaendeType"/>
  <complexType name="SB_AnzeigezustaendeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="StVO_Zeichen" type="string"/>
          <element name="Zusatzzeichen" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Streckenbeeinflussung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SB_AnzeigezustaendePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:SB_Anzeigezustaende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SB_Wirkungsbereiche" substitutionGroup="gml:AbstractFeature" type="okstra:SB_WirkungsbereicheType"/>
  <complexType name="SB_WirkungsbereicheType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Strecke" type="okstra-basis:ObjectRefType"/>
          <element name="Bereich" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Richtungsangabe" type="string"/>
          <element name="endet_bei_Strassenpunkt" type="okstra-basis:ObjectRefType"/>
          <element name="beginnt_bei_Strassenpunkt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Streckenbeeinflussung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SB_WirkungsbereichePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:SB_Wirkungsbereiche"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Steuerung" substitutionGroup="gml:AbstractFeature" type="okstra:SteuerungType"/>
  <complexType name="SteuerungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="automatische_Steuerung" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_manuelle_Steuerung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SteuerungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Steuerung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Streckenbeeinflussung" substitutionGroup="gml:AbstractFeature" type="okstra:StreckenbeeinflussungType"/>
  <complexType name="StreckenbeeinflussungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element maxOccurs="unbounded" name="zu_Baudienststelle" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="in_Verwaltungsbezirk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Wegweisung_Info" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Kombination_v_Anlagentypen" type="okstra-basis:ObjectRefType"/>
          <element name="hat_Einsatzdauer" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Wirkungsbereiche" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anzeigezustaende" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anlagentyp" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StreckenbeeinflussungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Streckenbeeinflussung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Ueberwachung_der_Anlage" substitutionGroup="gml:AbstractFeature" type="okstra:Ueberwachung_der_AnlageType"/>
  <complexType name="Ueberwachung_der_AnlageType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Art_der_Ueberwachung" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Ueberwachung_der_AnlagePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Ueberwachung_der_Anlage"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Unterzentrale" substitutionGroup="gml:AbstractFeature" type="okstra:UnterzentraleType"/>
  <complexType name="UnterzentraleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Existenz" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Lage" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UnterzentralePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Unterzentrale"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Verkehrsrechnerzentrale" substitutionGroup="gml:AbstractFeature" type="okstra:VerkehrsrechnerzentraleType"/>
  <complexType name="VerkehrsrechnerzentraleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Existenz" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Lage" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VerkehrsrechnerzentralePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Verkehrsrechnerzentrale"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WW_Anzeigezustaende" substitutionGroup="gml:AbstractFeature" type="okstra:WW_AnzeigezustaendeType"/>
  <complexType name="WW_AnzeigezustaendeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Anzeigezustand" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Wechselwegweisung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WW_AnzeigezustaendePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:WW_Anzeigezustaende"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="WW_Wirkungsbereiche" substitutionGroup="gml:AbstractFeature" type="okstra:WW_WirkungsbereicheType"/>
  <complexType name="WW_WirkungsbereicheType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Bereich" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Richtungsangabe" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="betroffene_BAB" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Wechselwegweisung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="2" name="endet_bei_Netzknoten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="2" name="beginnt_bei_Netzknoten" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WW_WirkungsbereichePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:WW_Wirkungsbereiche"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Wechselverkehrszeichen" substitutionGroup="gml:AbstractFeature" type="okstra:WechselverkehrszeichenType"/>
  <complexType name="WechselverkehrszeichenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="Bauart_des_Zeichens" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Anzahl" type="okstra-typen:Anzahl"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Anzeigesystem" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WechselverkehrszeichenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Wechselverkehrszeichen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Wechselwegweisung" substitutionGroup="gml:AbstractFeature" type="okstra:WechselwegweisungType"/>
  <complexType name="WechselwegweisungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Name" type="string"/>
          <element maxOccurs="unbounded" name="zu_Baudienststelle" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="in_Verwaltungsbezirk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Wegweisung_Info" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Kombination_v_Anlagentypen" type="okstra-basis:ObjectRefType"/>
          <element name="hat_Einsatzdauer" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anlagenausstattung" type="okstra-basis:ObjectRefType"/>
          <element name="Anlagentyp" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" name="hat_Wirkungsbereiche" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Anzeigezustaende" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WechselwegweisungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Wechselwegweisung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Wirkungsbereich_SP" substitutionGroup="gml:AbstractFeature" type="okstra:Wirkungsbereich_SPType"/>
  <complexType name="Wirkungsbereich_SPType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Beginn_von_RW_Wirkunsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Ende_von_RW_Wirkunsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Ende_von_SB_Wirkunsbereich" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Beginn_von_SB_Wirkunsbereich" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Wirkungsbereich_SPPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Wirkungsbereich_SP"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="astbezogener_WB" substitutionGroup="gml:AbstractFeature" type="okstra:astbezogener_WBType"/>
  <complexType name="astbezogener_WBType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element name="Rampenbezeichnung" type="string"/>
          <element maxOccurs="5" minOccurs="0" name="Astkennung" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_KB_Wirkungsbereich" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="astbezogener_WBPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:astbezogener_WB"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="manuelle_Steuerung" substitutionGroup="gml:AbstractFeature" type="okstra:manuelle_SteuerungType"/>
  <complexType name="manuelle_SteuerungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Steuerung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Bedienung" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Steuerung" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="manuelle_SteuerungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:manuelle_Steuerung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="richtungsbezogener_WB" substitutionGroup="gml:AbstractFeature" type="okstra:richtungsbezogener_WBType"/>
  <complexType name="richtungsbezogener_WBType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element name="Richtung_1" type="string"/>
          <element minOccurs="0" name="Richtung_2" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_KB_Wirkungsbereich" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="richtungsbezogener_WBPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:richtungsbezogener_WB"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
