schema/x-2016/S_Allgemeine_Geometrieobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:okstra="http://schema.okstra.de/2016/okstra" xmlns:okstra-basis="http://schema.okstra.de/2016/okstra-basis" xmlns:okstra-typen="http://schema.okstra.de/2016/okstra-typen" elementFormDefault="qualified" targetNamespace="http://schema.okstra.de/2016/okstra" version="2.016.0">
  <import namespace="http://schema.okstra.de/2016/okstra-basis" schemaLocation="okstra-basis.xsd"/>
  <import namespace="http://schema.okstra.de/2016/okstra-typen" schemaLocation="okstra-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Beschriftung" substitutionGroup="gml:AbstractFeature" type="okstra:BeschriftungType"/>
  <complexType name="BeschriftungType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Punktgeometrie" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="Bezugsposition" type="gml:PointPropertyType"/>
          <element name="Text" type="string"/>
          <element name="Textbedeutung" type="string"/>
          <element name="Drehwinkel" type="okstra-typen:Radiant"/>
          <element minOccurs="0" name="Textausgestaltung" type="okstra:TextausgestaltungPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_OKSTRA_Objekt" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BeschriftungPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Beschriftung"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Bestandsplan" substitutionGroup="gml:AbstractFeature" type="okstra:BestandsplanType"/>
  <complexType name="BestandsplanType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Strecke" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Objekt_ID" type="okstra:Objekt_IDPropertyType"/>
          <element minOccurs="0" name="Erfassungsdatum" type="date"/>
          <element minOccurs="0" name="Systemdatum" type="date"/>
          <element minOccurs="0" name="Textfeld" type="string"/>
          <element minOccurs="0" name="Art_der_Erfassung" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Art_der_Erfassung_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="Quelle_der_Information_sonst" type="okstra-basis:KeyValuePropertyType"/>
          <element minOccurs="0" name="RFID" type="string"/>
          <element minOccurs="0" name="Migrationshinweise" type="string"/>
          <element minOccurs="0" name="unscharf" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Dokument" type="okstra-basis:ObjectRefType"/>
          <element name="Plannummer" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BestandsplanPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Bestandsplan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Blattschnitt" substitutionGroup="gml:AbstractFeature" type="okstra:BlattschnittType"/>
  <complexType name="BlattschnittType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Flaechengeometrie" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="Art" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Blattnummer" type="string"/>
          <element minOccurs="0" name="Unterlagennummer" type="string"/>
          <element minOccurs="0" name="Registriernummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Massnahme" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BlattschnittPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Blattschnitt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Bruchkante" substitutionGroup="gml:AbstractFeature" type="okstra:BruchkanteType"/>
  <complexType name="BruchkanteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element name="fachliche_Bedeutung" type="string"/>
          <element maxOccurs="unbounded" minOccurs="2" name="hat_Punkt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="in_DGM" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BruchkantePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Bruchkante"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DGM" substitutionGroup="gml:AbstractFeature" type="okstra:DGMType"/>
  <complexType name="DGMType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element name="Bezeichnung" type="string"/>
          <element name="Art_DGM" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Informationstext" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Oberflaechendefinition" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="unterer_Horizont_zu_Volumen" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="oberer_Horizont_zu_Vokumen" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Dreiecke" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Bruchkante" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DGMPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:DGM"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Dreieck" substitutionGroup="gml:AbstractFeature" type="okstra:DreieckType"/>
  <complexType name="DreieckType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Dreiecksnummer" type="integer"/>
          <element minOccurs="0" name="Dreiecksbedeutung" type="string"/>
          <element maxOccurs="3" minOccurs="3" name="Seiteneigenschaft" type="okstra-basis:KeyValuePropertyType"/>
          <element name="in_DGM" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="3" minOccurs="3" name="hat_Punkte" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DreieckPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Dreieck"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Symbol" substitutionGroup="gml:AbstractFeature" type="okstra:SymbolType"/>
  <complexType name="SymbolType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Punktgeometrie" type="gml:PointPropertyType"/>
          <element name="Symbolbedeutung" type="string"/>
          <element name="Breite_links" type="okstra-typen:Groesse"/>
          <element name="Breite_rechts" type="okstra-typen:Groesse"/>
          <element name="Hoehe_oben" type="okstra-typen:Groesse"/>
          <element name="Hoehe_unten" type="okstra-typen:Groesse"/>
          <element name="Einheit" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Drehwinkel" type="okstra-typen:Radiant"/>
          <element name="mit_Bezug_auf_allg_Punktobjekt" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SymbolPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Symbol"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="allgemeines_Flaechenobjekt" substitutionGroup="gml:AbstractFeature" type="okstra:allgemeines_FlaechenobjektType"/>
  <complexType name="allgemeines_FlaechenobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Flaechengeometrie" type="gml:SurfacePropertyType"/>
          <element name="fachliche_Bedeutung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="allgemeines_FlaechenobjektPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:allgemeines_Flaechenobjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="allgemeines_Linienobjekt" substitutionGroup="gml:AbstractFeature" type="okstra:allgemeines_LinienobjektType"/>
  <complexType name="allgemeines_LinienobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Liniengeometrie" type="gml:CurvePropertyType"/>
          <element name="fachliche_Bedeutung" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="allgemeines_LinienobjektPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:allgemeines_Linienobjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="allgemeines_Punktobjekt" substitutionGroup="gml:AbstractFeature" type="okstra:allgemeines_PunktobjektType"/>
  <complexType name="allgemeines_PunktobjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Punktgeometrie" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="Punktnummer" type="string"/>
          <element name="fachliche_Bedeutung" type="string"/>
          <element minOccurs="0" name="DGM_proprietaer" type="boolean"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Symbol" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Bruchkante" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="in_Dreieck" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="allgemeines_PunktobjektPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:allgemeines_Punktobjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
