CurrentlyExcluded/Viewers/LandXML/LandXML_Schema/x-2016/S_Umfeldmessstelle.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:okstra="http://schema.okstra.de/2016/okstra" xmlns:okstra-basis="http://schema.okstra.de/2016/okstra-basis" xmlns:okstra-typen="http://schema.okstra.de/2016/okstra-typen" elementFormDefault="qualified" targetNamespace="http://schema.okstra.de/2016/okstra" version="2.016.0">
  <import namespace="http://schema.okstra.de/2016/okstra-basis" schemaLocation="okstra-basis.xsd"/>
  <import namespace="http://schema.okstra.de/2016/okstra-typen" schemaLocation="okstra-typen.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="./gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Detektoren_Umfelddatenerfassg" substitutionGroup="gml:AbstractFeature" type="okstra:Detektoren_UmfelddatenerfassgType"/>
  <complexType name="Detektoren_UmfelddatenerfassgType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="zugehoerige_EAKs" type="string"/>
          <element maxOccurs="unbounded" name="Einsatzzeit" type="string"/>
          <element maxOccurs="unbounded" name="Betriebszeit" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Umfeldmessstelle" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Detektoren_UmfelddatenerfassgPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Detektoren_Umfelddatenerfassg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Messdaten" substitutionGroup="gml:AbstractFeature" type="okstra:MessdatenType"/>
  <complexType name="MessdatenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Zaehlintervalllaenge" type="okstra-basis:KeyValuePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Umfang_Umfelddaten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Umfeldmessstelle" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MessdatenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Messdaten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SWIS_GMA_Messstelle" substitutionGroup="gml:AbstractFeature" type="okstra:SWIS_GMA_MessstelleType"/>
  <complexType name="SWIS_GMA_MessstelleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Segment_kommunale_Strasse" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="zu_kommunale_Strasse" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Strasse" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Strecke" type="okstra-basis:ObjectRefType"/>
          <element name="Nummer" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Messeinricht_Schadstoffimmiss" type="string"/>
          <element name="Lage_der_Sensoren" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Beginn_Erfassung" type="date"/>
          <element minOccurs="0" name="Ende_Erfassung" type="date"/>
          <element maxOccurs="unbounded" name="zu_Baudienststelle" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="in_Verwaltungsbezirk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Messdaten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Detektoren_Umfelddatenerfg" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Nutzungsart" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SWIS_GMA_MessstellePropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:SWIS_GMA_Messstelle"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Umfang_Umfelddaten" substitutionGroup="gml:AbstractFeature" type="okstra:Umfang_UmfelddatenType"/>
  <complexType name="Umfang_UmfelddatenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="erfasste_Daten" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Ermittlung_Schadstoffimmiss" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Messdaten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="2" minOccurs="0" name="hat_Umfelddaten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="8" name="hat_Witterungsdaten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="10" name="hat_witterungsbed_Strassenzust" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Umfang_UmfelddatenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Umfang_Umfelddaten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Umfelddaten" substitutionGroup="gml:AbstractFeature" type="okstra:UmfelddatenType"/>
  <complexType name="UmfelddatenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Sichtweite" type="okstra-typen:Meter"/>
          <element minOccurs="0" name="Helligkeit" type="okstra-typen:Lux"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Umfang_Umfelddaten" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UmfelddatenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Umfelddaten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VBA_Wetterstation" substitutionGroup="gml:AbstractFeature" type="okstra:VBA_WetterstationType"/>
  <complexType name="VBA_WetterstationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="gueltig_von" type="date"/>
          <element minOccurs="0" name="gueltig_bis" type="date"/>
          <element minOccurs="0" name="hat_Vorgaenger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="hat_Nachfolger_hist_Objekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="erzeugt_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="geloescht_von_Ereignis" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenpunkt" type="okstra:StrassenpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="bei_Strassenelementpunkt" type="okstra:StrassenelementpunktPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Segment_kommunale_Strasse" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="zu_kommunale_Strasse" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Strasse" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="hat_Strecke" type="okstra-basis:ObjectRefType"/>
          <element name="Nummer" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="Messeinricht_Schadstoffimmiss" type="string"/>
          <element name="Lage_der_Sensoren" type="okstra-basis:KeyValuePropertyType"/>
          <element name="Beginn_Erfassung" type="date"/>
          <element minOccurs="0" name="Ende_Erfassung" type="date"/>
          <element maxOccurs="unbounded" name="zu_Baudienststelle" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="in_Verwaltungsbezirk" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Messdaten" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" name="hat_Detektoren_Umfelddatenerfg" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Nutzungsart" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VBA_WetterstationPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:VBA_Wetterstation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Witterungsdaten" substitutionGroup="gml:AbstractFeature" type="okstra:WitterungsdatenType"/>
  <complexType name="WitterungsdatenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Luftdruck" type="okstra-typen:Hektopascal"/>
          <element minOccurs="0" name="relative_Luftfeuchte" type="okstra-typen:Prozent"/>
          <element minOccurs="0" name="Lufttemperatur" type="okstra-typen:Grad_Celsius"/>
          <element minOccurs="0" name="Windrichtung" type="okstra-typen:Grad"/>
          <element minOccurs="0" name="mittlere_Windgeschwindigkeit" type="okstra-typen:Meter_pro_Sekunde"/>
          <element minOccurs="0" name="Spitzenwindgeschwindigkeit" type="okstra-typen:Meter_pro_Sekunde"/>
          <element minOccurs="0" name="Niederschlagsart" type="integer"/>
          <element minOccurs="0" name="Niederschlagsintensitaet" type="okstra-typen:Millimeter_pro_Stunde"/>
          <element minOccurs="0" name="Niederschlagsmenge" type="okstra-typen:Millimeter_Niederschlag"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Umfang_Umfelddaten" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WitterungsdatenPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:Witterungsdaten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="witterungsbed_Strassenzustand" substitutionGroup="gml:AbstractFeature" type="okstra:witterungsbed_StrassenzustandType"/>
  <complexType name="witterungsbed_StrassenzustandType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="OKSTRA_ID" type="okstra-typen:GUID"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Beschriftung" type="okstra-basis:ObjectRefType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="zu_Kommunikationsobjekt" type="okstra-basis:ObjectRefType"/>
          <element minOccurs="0" name="Zustand_Fahrbahnoberflaeche" type="integer"/>
          <element minOccurs="0" name="Wasserfilmdicke" type="okstra-typen:Millimeter"/>
          <element minOccurs="0" name="Fahrbahnoberflaechentemperatur" type="okstra-typen:Grad_Celsius"/>
          <element minOccurs="0" name="Taupunkttemperatur" type="okstra-typen:Grad_Celsius"/>
          <element minOccurs="0" name="Gefrierpunkttemperatur" type="okstra-typen:Grad_Celsius"/>
          <element minOccurs="0" name="Restsalzgehalt" type="okstra-typen:Prozent"/>
          <element minOccurs="0" name="Schneehoehe" type="okstra-typen:Zentimeter"/>
          <element minOccurs="0" name="Bodentemperatur_in_Tiefe_1" type="okstra-typen:Grad_Celsius"/>
          <element minOccurs="0" name="Bodentemperatur_in_Tiefe_2" type="okstra-typen:Grad_Celsius"/>
          <element minOccurs="0" name="Bodentemperatur_in_Tiefe_3" type="okstra-typen:Grad_Celsius"/>
          <element maxOccurs="unbounded" minOccurs="0" name="von_Umfang_Umfelddaten" type="okstra-basis:ObjectRefType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="witterungsbed_StrassenzustandPropertyType">
    <sequence minOccurs="0">
      <element ref="okstra:witterungsbed_Strassenzustand"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
